body{
    margin: 0;
    font-family: 'Arial', sans-serif;
}
hr{
    margin: 35px 0;
    margin-top: 0;
    border: none;
    border-top: 1px solid #e4e4ec;
}
a{
    position: relative;
}
.hr{
    margin-top: 30px;
}
.wrapper{
    max-width: 960px;
    margin: 0 auto; 
}

.header{
    background-color: #1f1f56;
    padding: 20px 0;
}
.social a{
    display: block;
    background: url(../images/sprite.png) no-repeat;
    transition: all 0.3s ease;
}
a.fb{
    width: 10px;
    height: 19px;
    background-position: 0 0;
}
a.twitter{
    width: 18px;
    height: 15px;
    background-position: -33px 0;
}
a.instagram{
    width: 19px;
    height: 19px;
    background-position: -12px 0;
}
a.fb:hover{
    background-position: 0 -21px;
}
a.twitter:hover{
    background-position: -33px -21px;
}
a.instagram:hover{
    background-position: -12px -21px;
}
.header ul{
    margin: 0 -14px;
    padding-left: 0;
    list-style: none; 
}
.header li{
    display: inline-block;
    margin: 0 14px;
}
.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu a{
    transition: all 0.2s ease;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 24px;
    color: #b1b1d2;
    text-decoration: none;
}
.menu a:hover{
    color: #fd8300;
}
.contact_info{
    padding: 20px 0;
    transition: all 0.2s ease;
}
.contact_info img{
    margin-right: 10px;
}
.phones a{
    font: bold 18px/24px 'Arial';

    color: #25252c;
    font-weight: bold;
    text-decoration: none;
}
.phones p,
.messengers p{
    margin: 10px 0;
}
.messengers a{
    font-size: 16px;
    line-height: 24px;
    color: #25252c;
}
.stick{
    position: relative;
}
.stick:before{
    content: "";
    position: absolute;
    width: 1px;
    height: 51px;
    background-color: #e4e4ec;
    right: -19px;
    top: 15px;
}
.cta a{
    display: inline-block;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    color: #25252c;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid #fd8300;
    transition: all 0.25s ease;
}
.cta a:hover{
    background-color: #fd8300;
    color: #fff;
}
.header_a{
    transition: all 0.2s ease;
}
.header_a:hover{
    color: #fd8300;
    text-decoration: underline;
}
.all_before:before{
    content: "";
    position: absolute;
    left: -28px;
    top: 2px;
    background: url(../images/sprite.png) no-repeat;
}
.tel:before{
    width: 16px;
    height: 17px;
    background-position: -53px 0;
}
.mail:before{
    height: 13px;
    width: 17px;
    background-position: -71px 0;
}
.skype:before{
    height: 19px;
    width: 18px;
    background-position: -90px 0;
}
.skype a{
    text-decoration: none;
}
.header_a{
    transition: all 0.2s ease;
}
.contacts{
    display: flex;
    justify-content:space-between;
}
.contacts li{
    list-style: none;
}
.contacts ul{
    padding-left: 0;
}
.contacty{
    font-size: 24px;
    line-height: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}
.contacts_title{
    font-size: 14px;
    line-height: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}
.contacts_p p,
.contacts_p a{
    font-size: 14px;
    /* line-height: 21px; */
    line-height: 14px;
    color: #666;
    font-family: "Arial";
    text-decoration: none;
}
.contacts_tel a{
    font-size: 18px;
    line-height: 24px;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
    text-decoration: none;
}
.contacts_mail a{
    font-size: 16px;
    line-height: 24px;
    color: #25252c;
    font-family: "Arial";
}
.contacts li{
    margin-top: 14px;
    margin-bottom: 14px;
}
.map_and_inputs{
    display: flex;
    justify-content: space-between;
}
.inputs{
    width: 450px;
}
.inputs1{
    display: flex;
    justify-content: space-between;
}
.inputs1 input{
    width: 47%;
}
.inputs p{
    font-size: 14px;
    line-height: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
    margin-top: 0;
}
.inputs2 input{
    display: block;
    width: 98.2%;
    margin-top: 10px;
}
.input_height{
    height: 40px;
}
.checkbox_and_p{
    display: inline;
    margin-left: 5px;
}
.send{
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
    border-radius: 21px;
    background-color: #fd8300;
    text-decoration: none;
    padding: 10px 20px;
}
.textarea{
    height: 100px;
    width: 98.2%;
    margin-top: 10px;
}
.text[placeholder]{
    font-size: 13px;
    line-height: 21px;
    color: #9999a6;
    font-style: italic;
    font-family: "Arial";
}
.button_and_ckeckbutton{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}
.button_and_ckeckbutton p{
    font-size: 13px;
    line-height: 21px;
    color: #666;
    font-family: "Arial";
}
.col1 a:hover,
.col2 a:hover,
.col3 a:hover,
.col4 a:hover,
.header_a:hover{
    color: #fd8300;
    text-decoration: underline;
}
.footer_all{
    background-color: #ededf5;
}
.copy{
    background-color: #dcdce6;
}
.copyright{
    margin: 0 auto;
    text-align: center;
    font-size: 13px;
    line-height: 18px;
    color: #9999a6;
    font-family: "Arial";
    padding: 13.5px 0;
}
.cols{
    display: flex;
    justify-content: space-between;
}
.cols img{
    margin-right: 10px;
}
.col1 ul,
.col2 ul,
.col3 ul,
.col4 ul{
    list-style: none;
    padding-left: 0;
}
.col1 a,
.col2 a,
.col3 a,
.col4 a{
    text-decoration: none;
    transition: all 0.2s ease;
}
.col1 a,
.col2 a{
    font-size: 14px;
    line-height: 26px;
    color: #666;
    font-family: "Arial";
}
.col3 a{
    font-size: 18px;
    line-height: 24px;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
}
.col4 a{
    font-size: 16px;
    line-height: 24px;
    text-decoration: underline;
    color: #25252c;
    font-family: "Arial";
}
.col1 ul,
.col2 ul,
.col3 ul,
.col4 ul{
    padding: 30px 0 20px;
    margin: 0;
}
a.skype{
    text-decoration: none;
}
.col3 li{
    margin-bottom: 10px;
}
.col4 li{
    margin-bottom: 10px;
}
